.heart {
  background: none;
  border: none;
  font-size: 2rem;
  transition: 0.3s;
  color: rgb(202, 202, 202);
}

.heart.liked {
  color: red;
}

.heart:not(.disabled):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.heart.disabled {
  cursor: not-allowed;
  transform: none;
}
